{% load static %}
<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Vue</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.4/dist/css/bulma-switch.min.css">
		<link rel="stylesheet" href="{% static 'main.css' %}">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	
  <body>
	<nav class="navbar">
		{% load static %}
        <img class="ml-4" src="{% static '' %}icons/THI-logo.png">
		{% block navbar %}
        {% endblock %}
	</nav>
    <section class="section">
		{% block content %}
        {% endblock %}
	</section>
	{% block script %}
	{% endblock %}
  </body>
</html>

