<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Vue</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	
  <body>
	<nav class="navbar is-dark">
		{% block navbar %}
            {% endblock %}
	</nav>
    <section class="section">
			{% block content %}
            {% endblock %}
		</section>
		<footer class="footer is-dark">
			{% block footer %}
				{% endblock %}
		</footer>
		{% block script %}
		{% endblock %}
  </body>
</html>

