{% extends 'base.html' %}

{% block content %}
<div class="content-section">
    <div class="start-form-container">
        <div class="start-text">
            <h1 style="font-size:x-large; text-align: center;">Thank you for your time and answers!</h1>
            <p>We sincerely want to express our heartfelt gratitude for your valuable participation in our study. As a token of our appreciation for your contribution, we would like to assure you that you will be among the first to receive a detailed report of the study findings. This report will provide a comprehensive overview of the results before they are published more widely.</p>
        </div>
    </div>
    <footer class="footer is-dark">
    </footer>
</div>
{% endblock %}