{% extends 'base.html' %}
{% block navbar %}
<div>
    <p>Test</p>
</div>
{% endblock %}
{% block content %}
    <div id="survey-app">
        <h1 class="title">Frontpage</h1>
        <p>Your Group is {{group}}</p>
        <div>
            <p>${slides[slideCounter].number}</p>
        </div>
        <div>
        {% load static %}
        <img :src=slides[slideCounter].url>
        </div>
        <div>
            <button @click=nextSlide()>Next</button>
        </div>
    </div>
{% endblock %}
{% block footer %}
<div>
    <p>Footer</p>
</div>
{% endblock %}

{% block script %}

<script>
    var surveyapp = new Vue({
        el: '#survey-app',
        delimiters: ['${', '}'],
        data () {
            return {
                slideCounter: 0,
                slides: [
                    {% for slide in slides %}
                        {
                            "number" : {{slide}},
                            "url": "{% static '' %}images/" + {{ slide }} + ".png",
                        },
                    {% endfor %}
                ]
            }
        },
        methods: {
            nextSlide() {
                //has to be 20 later
                if (this.slideCounter < 10) {
                    this.slideCounter ++;
                }
            }
        }
    });
</script>
{% endblock %}