{% extends 'base.html' %}

{% block content %}
<div class="content-section">
    <div class="start-form-container">
        <div class="start-text" style="text-align: center">
            <h1 style="font-size:x-large">Error: mobile access denied</h1>
            <p>You are viewing this site because you attempted to access the online experiment on a mobile device. Please switch to a tablet or PC to proceed. Thank you.</p>
        </div>
    </div>
    <footer class="footer is-dark">
    </footer>
</div>
{% endblock %}