{% extends 'base.html' %}
{% load my-tags %}
{% block content %}
<div class="content-section">
    <div class="start-form-container">
        <div style = "width:100%">
            <h1 style="font-size:x-large">User Experience Questionnaire</h1>
            <div class="question-container">
                <div style ="width:100%">
                    <h2 class="pb-5" style ="text-align: left">Please assess the application now by only ticking one circle per line<b class="required">*</b></h2>
                    <div>
                        <form id="ueqs" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="columns">
                                    <div class="column is-3 negative">
                                        <p>{{negAttrib|index:forloop.counter0}}</p>
                                    </div>
                                    <div class="column is-6 radio-buttons form-field">
                                        {{field}}
                                    </div>
                                    <div class="column is-3 positive">
                                        <p>{{posAttrib|index:forloop.counter0}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <footer class="footer is-dark">
        <div class="next-button" style = "width:100%">
            <button form="ueqs" type="submit">Finish</button>
        </div>
    </footer>
</div>
{% endblock %}