{% extends 'base.html' %}
{% block content %}
<div class="pre-study-section">
    <div class="pre-study-container">
        <form id="prestudy" class="pre-study-form pb-5" method="post">
            <h1 class="mt-5" style="font-size:x-large">Demographic Data</h1>
            {% csrf_token %}
            {% for field in form %}
            <div class="question-container">
                <div>
                    <p>{{field.label}}<b class="required">*</b></p>
                    {{field}}
                </div>
            </div>
            {% endfor %}
        </form>
    </div>
    <footer class="footer is-dark">
        <div class="next-button" style = "width:100%">
            <button form="prestudy" type="submit">Start experiment</button>
        </div>
    </footer>
</div>
{% endblock %}